.home {
	width: 1080px !important;
}

.home__not-found{
	width: 100%;
	margin-left: 8px !important;
}

.home__content {
	padding: 8px !important;
}

.home__new-event {
	float: right;
}

.home__create-icon{
	position: absolute;
	left: 8px;
	top: 50%;
	transform: translateY(-50%);
}

.home_create-text{
	padding-left: 10px;
}